stat429_group2_final_proj.tex
stat429_group2_final_proj.pdf
stat429_group2_final_proj_files
.DS_Store
stat429_group2_final_proj.aux
stat429_group2_final_proj.bcf
stat429_group2_final_proj.log
stat429_group2_final_proj.run.xml
stat429_group2_final_proj.ttt